body {
    font-family: "Montserrat", serif;
    height: 100vh;
    margin: 0%;
    background: linear-gradient(rgba(255, 254, 254, 0.2), rgba(0, 0, 0, 0.8)), url('./imagens/nutricionista.jpg');
    background-size: cover;
    /* Ajusta o tamanho para cobrir toda a tela */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
}

header {
    >#container {
        >#box-header {
            margin: 0px;
            background-color: #422D21;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >section {
                margin: 15px;

                h1 {
                    font-family: "Lexend Giga", serif;
                    font-weight: bold;
                    /* Caso queira aplicar um peso mais forte */
                    color: white;
                }
            }

            >section {
                img {
                    border: 4px solid rgba(255, 255, 255, 0.5);
                    /* Branco com 50% de transparência */
                    border-radius: 62px;
                }

            }

        }

    }
}

main {
    >#container2 {
        >#box1 {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            >#formulario {
                padding: 10px;
                height: 320px;
                width: 365px;
                background-color: #BBF5AD;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                justify-content: space-between;
                gap: 10px;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
                /* Sombra suave */

                >#titulo-form {
                    margin: 10px;

                    h1 {
                        color: black;
                        font-size: 16px;
                        font-family: "Montserrat", serif;


                    }
                }

                >.caixa-mensagem {
                    >input {
                        border: 0px;
                        border-radius: 5px;
                    }
                }

                >#btn-cal {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >button {
                        font-family: "Montserrat", serif;
                        border: none;
                        height: 35px;
                        width: 70px;
                        background-color: #47AD57;
                        border-radius: 5px;
                        cursor: pointer;
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
                        /* Sombra suave */
                        transition: transform 0.3s ease-in-out;

                    }

                }

                #btn-cal button:hover {
                    transform: translateY(-5px);
                    /* Move o botão para cima quando o mouse passar sobre ele */
                }
            }
        }
    }

}